TuCSoN/libs
TuCSoN/bin
TuCSoN/inspector-reactions.log
TuCSoN/inspector-tuples.log
TuCSoN/inspector-queries.log
TuCSoN/persistent
TuCSoN/doc
.metadata
TuCSoN/bridge
TuCSoN/classes
TuCSoN/lib
TuCSoN/rel
it.unibo.mok.inspector/rel
