#PERFORMANCE
FPS=60

#NODES
NODE_SIZE_FOR_GENERATION=300
NODE_RINGS_RADIUS=300
NODE_BACKGROUND_COLOR=\#E3F2FD
NODE_BORDER_COLOR=\#0D47A1
#0 = no border (half circles => more performance)
NODE_BORDER_THICKNESS=2
NODE_PIE_CHART_ZOOM_THRESHOLD=1.5

#LINKS
LINK_COLOR=\#2196F3
LINK_THICKNESS=2

#MOLECULES
MOLECULE_SIZE_FOR_GENERATION=20
MOLECULE_RINGS_RADIUS=25
MOLECULE_BORDER_COLOR=\#0D47A1
#0 = no border (half circles => more performance)
MOLECULE_BORDER_THICKNESS=2
MOLECULE_SHOW_ID_INSTEAD_OF_CONCENTRATION=true

#ZOOMING
ZOOM_MAX_SIZE=3
ZOOM_TICKS_TO_DOUBLE_SIZE=6

#ANIMATIONS
#0 = still molecules (no movement => more performance)
DANCE_ANIMATION_FPS=3
#greater is faster
TRANSFER_POINTS_PER_SECOND=120