#PERFORMANCE
FPS=60

#NODES
NODE_SIZE_FOR_GENERATION=300
NODE_RINGS_RADIUS=300
NODE_BACKGROUND_COLOR=\#E3F2FD
NODE_BORDER_COLOR=\#0D47A1
#default 2, 0 = no border (half circles => more performance)
NODE_BORDER_THICKNESS=0
#configures when to switch to pie chart
NODE_PIE_CHART_ZOOM_THRESHOLD=0.5

#LINKS
LINK_COLOR=\#2196F3
LINK_THICKNESS=2

#MOLECULES
MOLECULE_SIZE_FOR_GENERATION=20
MOLECULE_RINGS_RADIUS=25
MOLECULE_BORDER_COLOR=\#0D47A1
#default 2, 0 = no border (half circles => more performance)
MOLECULE_BORDER_THICKNESS=0
#default false, true = show name instead of concentration, for debugging
MOLECULE_SHOW_ID_INSTEAD_OF_CONCENTRATION=false

#ZOOMING
ZOOM_MAX_SIZE=3
ZOOM_TICKS_TO_DOUBLE_SIZE=6

#ANIMATIONS
#default 3, 0 = still molecules (no movement => more performance)
DANCE_ANIMATION_FPS=0
#default 120, greater is faster
TRANSFER_POINTS_PER_SECOND=120