table @ localhost : 20505
seat(0,1) @ localhost : 20504
seat(1,2) @ localhost : 20504
seat(2,3) @ localhost : 20504
seat(3,4) @ localhost : 20504
seat(4,5) @ localhost : 20504
seat(5,6) @ localhost : 20504
seat(6,7) @ localhost : 20504
seat(7,8) @ localhost : 20504
seat(8,9) @ localhost : 20504
seat(9,0) @ localhost : 20504